<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Tag</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<nav>
    <a th:href="@{/login}">Login</a>
    <a th:href="@{/registration}">Register</a>
    <a href="users">Users</a>
    <a href="articles">Articles</a>
</nav>
<h2>Create New Tag</h2>
<form th:action="@{/tags/create}" method="post" th:object="${tag}">
    <label>Name: <input type="text" th:field="*{name}" required/></label>
    <button type="submit">save</button>
</form>
<a href="tags/">Back to list</a>
</body>
</html>