<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tags List</title>
</head>
<body>
<h2>Tags List</h2>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <TBODY>
    <tr th:each="tag : ${tags}">
        <td th:text="${tag.getId()}"></td>
        <td th:text="${tag.getName()}"></td>
        <td>
            <form th:action="@{/tags/{id}/delete (id=${tag.getId()})}" method="post"
                  onsubmit="return confirm('Are you sure you want to delete this tag?');">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </TBODY>
</table>
<a href="tags/create">Create New Tag</a>
<a href="/users">Users</a>
<a href="articles">Articles</a>
</body>
</html>