<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User Details</title>
  <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<nav>
  <a th:href="@{/login}">Login</a>
  <a th:href="@{/registration}">Register</a>
  <a href="users">Users</a>
  <a href="articles">Articles</a>
</nav>
<h2>User Details</h2>

<div>
  <p><strong>ID:</strong> <span th:text="${user.id}"></span></p>
  <p><strong>Email:</strong> <span th:text="${user.email}"></span></p>
  <p><strong>Username:</strong> <span th:text="${user.username}"></span></p>
  <p><strong>Bio:</strong> <span th:text="${user.bio}"></span></p>
  <p><strong>Image url:</strong> <span th:url="${user.image_url}"></span></p>
  <p><strong>Created At:</strong> <span th:text="${#dates.format(user.created_at, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
</div>

<div>
  <a th:href="@{/users}">Back to Users List</a>
  <a th:href="@{/users/{id}/update(id=${user.id})}">Edit</a>
  <a th:href="@{/users/{id}/delete(id=${user.id})}" onclick="return confirm('Are you sure you want to delete this user?')">Delete</a>
</div>

</body>
</html>
