<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Users List</title>
</head>
<body>
<h2>Users List</h2>

<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>username</th>
    <th>email</th>
    <th>bio</th>
  </tr>
  </thead>
  <TBODY>
  <tr th:each="user : ${users}">
    <td th:text="${user.getId()}"></td>
    <td th:text="${user.getUsername()}"></td>
    <td th:text="${user.getEmail()}"></td>
    <td th:text="${user.getBio()}"></td>
    <td>
      <a th:href="@{/users/{id} (id=${user.getId()})}">Details</a>
      <form th:action="@{/users/{id}/delete (id=${user.getId()})}" method="post"
            onsubmit="return confirm('Are you sure you want to delete this user?');">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Delete</button>
      </form>
    </td>
  </tr>
  </TBODY>
</table>
<a href="users/create">Create New User</a>
<a href="articles">List of articles</a>
<a href="tags">Tags</a>
</body>
</html>
