<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Article</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<nav>
    <a th:href="@{/login}">Login</a>
    <a th:href="@{/registration}">Register</a>
    <a href="users">Users</a>
    <a href="articles">Articles</a>
</nav>
<h2>Create New Article</h2>

<form th:action="@{/articles/create}" method="post" th:object="${article}">
    <div>
        <label>Title: <input type="text" th:field="*{title}" required /></label>
    </div>
    <div>
        <label>Description: <input type="text" th:field="*{description}" required /></label>
    </div>
    <div>
        <label>Content: <textarea th:field="*{content}" required></textarea></label>
    </div>
    <div>
        <label>Author ID: <input type="number" th:field="*{author.id}" required /></label>
    </div>
    <div>
        <label>Slug: <input type="text" th:field="*{slug}" required /></label>
    </div>

    <div>
        <label>Tags:
            <select multiple name="tags" required>
                <option th:each="tag : ${allTags}"
                        th:value="${tag.id}"
                        th:text="${tag.name}"></option>
            </select>
        </label>
    </div>

    <button type="submit">Save Article</button>
</form>

<a th:href="@{/articles}">Back to list</a>
</body>
</html>