<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Статьи</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div class="container">
    <div class="card" th:each="article : ${articles}">
        <h2 th:text="${article.title}">Заголовок статьи</h2>
        <p th:text="${article.description}">Краткое описание статьи.</p>

        <a th:href="@{/articles/{id} (id=${article.getId()})}">Details</a>
        <form th:action="@{/articles/{id}/delete (id=${article.getId()})}" method="post"
              onsubmit="return confirm('Are you sure you want to delete this article?');">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit">Delete</button>
        </form>
    </div>
</div>
<a href="articles/create">create new article</a>
<a href="users">users</a>

<a href="articles/by-author/">find article by author</a>
<a href="articles/by-tag/">find article by tag</a>
</body>
</html>
